<div class="app p-4 container-fluid">
    <div class="row">
        <div class="col col-md-4 offset-md-4">
            <div class="text-center">
                <app-display [user]="user" *ngIf="user; else loadingBlock"></app-display>

                <ng-template #loadingBlock>
                             <div class="">                               
                            </div>                        
                </ng-template>
            </div>
        </div>
    </div>
</div>